@keyframes pressureAnimation {

    0%,
    100% {
        transform: scale(1);
        color: #ffffff;
    }

    50% {
        transform: scale(1.1);
        color: #a3a2a1;
    }
}

.animate-pressure {
    display: inline-block;
    transition: transform 0.3s ease, color 0.3s ease;
}

.animate-pressure:hover {
    animation: pressureAnimation 2s;
}